// 
// About
// 

.about-section {
    padding-top: 10rem;
    padding-bottom: 8rem;
    background: linear-gradient(to bottom,
        $black 0%,
        #{fade-out($black, 0.1)} 75%,
        #{fade-out($black, 0.2)} 100%);

    p {
        margin-bottom: 5rem;
    }
}

.highlight {
    color: #F6B26B; // Example: gold
}